{% load static %}
{% load tags %}

<!doctype html>

{% block content %}

    <p>
    <h1>Current Location</h1>
    <form method="POST" action="{% url 'tasks' %}">
    {% csrf_token %}
    <input type="text" name="textfield">
    <button type="submit">Upload</button>
    </form>
    </p>

    <p>
    <h1>Notable Cities</h1>
    <form action="{% url 'tasks' %}">
    {% csrf_token %}
      {% if current_state != "" %}
      {% for m in major_cities|access:current_state %}
      <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
      <label for="vehicle1">{{m}}</label><br>
      {% endfor %}
      {% endif %}
    </form>
    </p>

    <p>
    <h1>National Parks</h1>
    <form action="{% url 'tasks' %}">
    {% csrf_token %}
      {% if current_state != "" %}
      {% for n in national_parks|access:current_state %}
      <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
      <label for="vehicle1">{{n}}</label><br>
      {% endfor %}
      {% endif %}
    </form>
    </p>

    <p>
    <h1>State Parks</h1>
    <form action="{% url 'tasks' %}">
    {% csrf_token %}
      {% if current_state != "" %}
      {% for s in state_parks|access:current_state %}
      <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
      <label for="vehicle1">{{s}}</label><br>
      {% endfor %}
      {% endif %}
    </form>
    </p>

{% endblock %}


{% block javascript %}
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
